<main class="container-fluid py-4">
  @if (player; as p) {
  <div class="row g-4 justify-content-center" style="width: 90%; margin: 0 auto;">
    <div class="col-lg-8">
      <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-warning" (click)="toggleEdit()">{{ isEditing ? 'Cancelar' : 'Editar' }}</button>
        @if (isEditing) {
          <button class="btn btn-success ms-2" (click)="savePlayer()">Guardar</button>
        }
      </div>
      <div class="d-flex flex-column gap-3">
        <div class="row g-3">
          <div class="col-md-5">
            @if (isEditing) {
              <input type="text" class="form-control" [(ngModel)]="p.img" placeholder="URL de imagen">
            } @else {
              <img [src]="p.img" [alt]="p.nombre" class="img-fluid rounded-3 custom-height-img w-100 object-fit-cover"
              style="object-position: top;" >
            }
          </div>
          <div class="col-md-7">
            <div class="custom-card p-4 h-100 d-flex flex-column justify-content-center">
              @if (isEditing) {
                <input type="text" class="form-control mb-2" [(ngModel)]="p.nombre" placeholder="Nombre">
                <input type="text" class="form-control mb-2" [(ngModel)]="p.equipo" placeholder="Equipo">
                <input type="text" class="form-control mb-2" [(ngModel)]="p.posicion" placeholder="Posición">
                <input type="text" class="form-control mb-2" [(ngModel)]="p.altura" placeholder="Altura">
                <input type="number" class="form-control mb-2" [(ngModel)]="p.edad" placeholder="Edad">
                <input type="text" class="form-control mb-2" [(ngModel)]="p.videoUrl" placeholder="URL de video o YouTube, o nombre de archivo (ej: Lebron.mp4)">
              } @else {
                <h2 class="fw-bold">{{ p.nombre }}</h2>
                <p><strong>Equipo:</strong> {{ p.equipo }}</p>
                <p><strong>Posición:</strong> {{ p.posicion }}</p>
                <p><strong>Altura:</strong> {{ p.altura }}</p>
                <p><strong>Edad:</strong> {{ p.edad }}</p>
              }
            </div>
          </div>
        </div>
        <div class="row g-3">
          <div class="col-md-6">
            <div class="custom-card p-4 h-100 d-flex flex-column justify-content-center">
              <h2 class="fw-bold mb-3">Video</h2>
              <app-media
                [videoUrl]="player.videoUrl || ''"
                [defaultVideoSource]="'https://commondatastorage.googleapis.com/gtv-videos-library/sample/BigBuckBunny.mp4'">
              </app-media>
            </div>
          </div>
          <div class="col-md-6">
            <div class="custom-card p-4 h-100">
              <h2 class="fw-bold" style="color: #e69520;">Promedio de la temporada</h2>

              @if (isEditing) {
                <div class="mb-2">
                  <label>Puntos por partido (PPP)</label>
                  <input type="number" class="form-control" [(ngModel)]="p.pPP">
                </div>
                <div class="mb-2">
                  <label>Rebotes por partido (RPP)</label>
                  <input type="number" class="form-control" [(ngModel)]="p.rPP">
                </div>
                <div class="mb-2">
                  <label>Asistencias por partido (APP)</label>
                  <input type="number" class="form-control" [(ngModel)]="p.aPP">
                </div>
                <div class="mb-2">
                  <label>Porcentaje Tiros de Campo (%TC)</label>
                  <input type="number" class="form-control" [(ngModel)]="p.porcentajeTiros">
                </div>
              } @else {
                <div class="stat-row">
                  <span>Puntos por partido (PPP)</span>
                  <span class="stat-badge">{{ p.pPP }}</span>
                </div>
                <div class="stat-row">
                  <span>Rebotes por partido (RPP)</span>
                  <span class="stat-badge">{{ p.rPP }}</span>
                </div>
                <div class="stat-row">
                  <span>Asistencias por partido (APP)</span>
                  <span class="stat-badge">{{ p.aPP }}</span>
                </div>
                <div class="stat-row border-0">
                  <span>Porcentaje Tiros de Campo (%TC)</span>
                  <span class="stat-badge">{{ p.porcentajeTiros }}%</span>
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  } @else {
  <div class="text-center py-5">
    <p class="lead">Jugador no encontrado.</p>
  </div>
  }
</main>