@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

    /* Iconos video */
@import '../node_modules/@videogular/ngx-videogular/fonts/videogular.css';

.navbar-brand {
    background-color: white !important;
    color: #7c4dff !important; 
    padding: 10px 25px !important; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px; 
}

.navbar-brand span.text-primary {
    color: #7c4dff !important;
}

.navbar.bg-dark {
    background-color: #7c4dff !important; 
}